body {
  font-family: "Revalia", cursive;
  color: #ffffff;
  background-color: #000;
}
/* General start */
.uk-navbar-nav > li > a {
  font-family: "Revalia", cursive;
}
.king-button-white.uk-button-default {
  background-color: #fff;
  color: #000;
}
/* General end */

/* header  start */
.header-wrap {
  height: 82px;
}
.uk-navbar-nav > li > a {
  font-size: 12px;
  color: #fff;
}
.uk-navbar-nav > li > a:hover,
.uk-navbar-dropdown-nav > li > a:hover {
  color: #f44e3a;
}
.king-header-calendar,
.king-header-calendar:hover {
  color: #fff;
}
.uk-navbar-dropdown.king-navbar-mobile {
  width: 100%;
  left: 0 !important;
  background-color: #000;
}
.uk-navbar-dropbar {
  background-color: #000;
}
.uk-navbar-dropdown-nav > li > a {
  color: #fff;
  justify-content: center;
  font-size: 20px;
}
.uk-navbar-dropdown-nav .uk-nav-divider {
  border-top-color: #606060;
}
/* header end */
/* alert */
.king-alert-wrapper {
  background-color: #f44e3a;
}
/* alert */
/* main slider */
.king-slider {
  height: 600px;
  background-position: top center;
}
.king-slider-title {
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}
.king-slider-subtitle {
  width: 350px;
  margin-top: -30px;
}
.king-slider-desc {
  color: #fff;
}
/* main slider end */
/* gallery */
.king-gallery.uk-grid > * {
  padding-left: 24px;
}
.king-gallery.uk-grid + .uk-grid {
  margin-top: 24px;
}
.king-gallery-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #727272;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.king-gallery-title {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}
.king-gallery-desc {
  font-size: 19px;
  color: #fff;
  width: 350px;
  max-width: 100%;
}
/* gallery end */
.king-divider {
  margin-top: 100px;
  margin-bottom: 100px !important;
  margin-left: -14px;
}

/* Responsive Mobile */
@media (max-width: 639px) {
  .king-alert-wrapper p {
    max-width: 300px;
    margin: 0 auto;
  }
  .king-slider-title {
    font-size: 43px;
  }
  .king-slider-subtitle {
    width: 260px;
    margin-top: -28px;
  }
}
